<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class=" row table-responsive">
<table class="table">
    <thead>
        <th scope="col">id</th>
        <th scope="col">image</th>
        <th scope="col">name</th>
        <th scope="col">location</th>
        <th scope="col">area</th>
        <th scope="col">water feature</th>
    </thead>
    <% for (let habitat of allHabitats) { %>
        <tr>
            <td scope="row"><%= habitat.id%></td>
            <td><img width="100px" src="<%= habitat.imageHabitat%>" alt=""></td>
            <td><%= habitat.name%></td>
            <td><%= habitat.location%></td>
            <td><%= habitat.area%></td>
            <td><%= habitat.hasWaterFeature%></td>
            <td><a href="/detailHabitat/<%= habitat.id%>"><img width="15px" src="assets/images/magnifier.png"></a></td>
        </tr>
    <% } %>
</table>
</div>
<%- include("partials/footer") %>